<!DocTYPE html>
<html>

<head>
    <title>
        HomePAge
    </title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
 <h1>hwllooooo</h1>
    <p>this is our demo</p>
    <form method="post">
        <label name="firstNumber">First Name</label>
        <input name=" firstNumber" type="number" />

        <label name="secondNumber">First Name</label>
        <input name=" secondtNumber" type="number" />

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>